<!--begin portfolio-->
<section id="portfolio" class="portfolio section">
    <div class="container">
        <div class="portfolio__title portfolio_title section__title">
            <h2 class="title">Last projects</h2>
        </div>
        <div class="portfolio__wrapper portfolio_wrap">
            <!--begin portfolio item-->
            <div class="portfolio_wrap__item portfolio_item">
                <div class="portfolio_item__image portfolio_image">
                    <img data-action="zoom" src="img/img_polylead.jpg" alt="Polylead">
                    <div class="portfolio_image__review portfolio_review">
                        <div class="portfolio_review__text">
                            <p>"One of the best freelancers we ever recruited, highly recommend"</p>
                        </div>
                        <div class="portfolio_review__info review_info">
                           <div class="review_info__avatar">
                               <img src="img/rev_polylead.jpg" alt="Polylead">
                           </div>
                            <div class="review_info__name">
                               <p>Alexandre Francois, CO-founder Polylead.com</p>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio_item__info portfolio_info">
                    <div class="portfolio_info__name">
                        <h3 class="title">Polylead.com</h3>
                    </div>
                    <div class="portfolio_info__skills">
                        <p>UX/UI design, HTML/SASS/JS, Wordpress</p>
                    </div>
                    <div class="portfolio_info__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis delectus enim eveniet fugiat fugit harum id impedit in minus modi nisi, perferendis porro recusandae totam? Consequuntur cumque nisi sunt.</p>
                    </div>
                    <div class="portfolio_info__link">
                        <a class="btn_dark" target="_blank" href="https://polylead.com">Visit website</a>
                    </div>
                </div>
            </div>
            <!--end portfolio item-->
            <!--begin portfolio item-->
            <div class="portfolio_wrap__item portfolio_item">
                <div class="portfolio_item__image">
                    <img data-action="zoom" src="img/img_aretosystems.jpg" alt="Aretosystems">
                    <div class="portfolio_image__review portfolio_review">
                        <div class="portfolio_review__text">
                            <p>"Worked with Bohdan on numerous projects and will surely do that again. Thanks Bohdan"</p>
                        </div>
                        <div class="portfolio_review__info review_info">
                            <div class="review_info__avatar">
                                <img src="img/rev_aretosystems.jpg" alt="Aretosystems">
                            </div>
                            <div class="review_info__name">
                                <p>Justin Farrugia, CO-founder Aretosystems.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio_item__info portfolio_info">
                    <div class="portfolio_info__name">
                        <h3 class="title">Aretosystems.com</h3>
                    </div>
                    <div class="portfolio_info__skills">
                        <p>UX/UI design, HTML/SASS/JS, Wordpress</p>
                    </div>
                    <div class="portfolio_info__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis delectus enim eveniet fugiat fugit harum id impedit in minus modi nisi, perferendis porro recusandae totam? Consequuntur cumque nisi sunt.</p>
                    </div>
                    <div class="portfolio_info__link">
                        <a class="btn_dark" target="_blank" href="https://aretosystems.com">Visit website</a>
                    </div>
                </div>
            </div>
            <!--end portfolio item-->
            <!--begin portfolio item-->
            <div class="portfolio_wrap__item portfolio_item">
                <div class="portfolio_item__image">
                    <img data-action="zoom" src="img/img_ability.jpg" alt="Ability Consulting">
                    <div class="portfolio_image__review portfolio_review">
                        <div class="portfolio_review__text">
                            <p>"Amazing working with Bohdan, very open and responsive all throughout the process. I needed a design done as a WP template, done fast, and he certainly delivered. I certainly would love to work with him again!"</p>
                        </div>
                        <div class="portfolio_review__info review_info">
                            <div class="review_info__avatar">
                                <img src="img/rev_ability.jpeg" alt="Aretosystems">
                            </div>
                            <div class="review_info__name">
                                <p>Natalia Herrera, Owner Ability consulting</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio_item__info portfolio_info">
                    <div class="portfolio_info__name">
                        <h3 class="title">Ability consulting</h3>
                    </div>
                    <div class="portfolio_info__skills">
                        <p>HTML/SASS/JS, Wordpress</p>
                    </div>
                    <div class="portfolio_info__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis delectus enim eveniet fugiat fugit harum id impedit in minus modi nisi, perferendis porro recusandae totam? Consequuntur cumque nisi sunt.</p>
                    </div>
                    <div class="portfolio_info__link">
                        <a class="btn_dark" target="_blank" href="https://abilityconsulting.org/">Visit website</a>
                    </div>
                </div>
            </div>
            <!--end portfolio item-->
            <!--begin portfolio item-->
            <div class="portfolio_wrap__item portfolio_item">
                <div class="portfolio_item__image portfolio_image">
                    <img data-action="zoom" src="img/img_masabi.jpg" alt="Masabi">
                    <div class="portfolio_image__review portfolio_review">
                        <div class="portfolio_review__text">
                            <p>"Great freelancer, very helpful and knowledgable."</p>
                        </div>
                        <div class="portfolio_review__info review_info">
                            <div class="review_info__avatar">
                                <img src="img/rev_masabi.jpeg" alt="Masabi">
                            </div>
                            <div class="review_info__name">
                                <p>John Scrooby, Head of People Operations at Masabi</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio_item__info portfolio_info">
                    <div class="portfolio_info__name">
                        <h3 class="title">Masabi.com</h3>
                    </div>
                    <div class="portfolio_info__skills">
                        <p>HTML/SASS/JS, Wordpress</p>
                    </div>
                    <div class="portfolio_info__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis delectus enim eveniet fugiat fugit harum id impedit in minus modi nisi, perferendis porro recusandae totam? Consequuntur cumque nisi sunt.</p>
                    </div>
                    <div class="portfolio_info__link">
                        <a class="btn_dark" target="_blank" href="http://www.masabi.com/">Visit website</a>
                    </div>
                </div>
            </div>
            <!--end portfolio item-->
            <!--begin portfolio item-->
            <div class="portfolio_wrap__item portfolio_item">
                <div class="portfolio_item__image portfolio_image">
                    <img data-action="zoom" src="img/img_qonceptus.jpg" alt="Qonceptus">
                    <div class="portfolio_image__review portfolio_review">
                        <div class="portfolio_review__text">
                            <p>"Great freelancer to work with: flexible, patient and with a professional attitude. Will hire again!"</p>
                        </div>
                        <div class="portfolio_review__info review_info">
                            <div class="review_info__avatar">
                                <img src="img/rev_qonceptus.png" alt="Qonceptus">
                            </div>
                            <div class="review_info__name">
                                <p>Marek Sadowski, Qonceptus.se</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio_item__info portfolio_info">
                    <div class="portfolio_info__name">
                        <h3 class="title">Qonceptus.se</h3>
                    </div>
                    <div class="portfolio_info__skills">
                        <p>HTML/SASS/JS, Wordpress</p>
                    </div>
                    <div class="portfolio_info__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis delectus enim eveniet fugiat fugit harum id impedit in minus modi nisi, perferendis porro recusandae totam? Consequuntur cumque nisi sunt.</p>
                    </div>
                    <div class="portfolio_info__link">
                        <a class="btn_dark" target="_blank" href="http://qonceptus.se/">Visit website</a>
                    </div>
                </div>
            </div>
            <!--end portfolio item-->
        </div>
    </div>
</section>
<!--end portfolio-->
<!--begin contact-->
<div id="contact" class="contact section">
    <div class="container">
        <div class="contact__title contact_title section__title">
            <h2 class="title">Сooperation</h2>
        </div>
        <div class="contact__info contact_info">
            <div class="contact_info__title">
                <h2 class="title">Let's talk</h2>
            </div>
            <div class="contact_info__text">
                <p>I'm open for new projects or proposals for cooperation.</p>
                <p>You can find me in socials or fill the contact form. </p>
            </div>
            <div class="contact_info__btn contact_btn">
                <a class="btn_dark" href="#/">Contact form</a>
            </div>
            <div class="contact_info__form contact_form">
                <div class="container">
                    <div class="contact_form__close">
                        <a href="#/">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </div>
                    <form action="">
                        <label for="">Name</label>
                        <input type="text">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end contact-->