@font-face
  font-family: 'Oswald-Bold'
  font-style: normal
  font-weight: normal
  src: local('Oswald-Bold'), url('../fonts/Oswald-Bold.woff') format('woff')

@font-face
  font-family: 'Oswald-Light'
  font-style: normal
  font-weight: normal
  src: local('Oswald-Light'), url('../fonts/Oswald-Light.woff') format('woff')

@font-face
  font-family: 'Oswald-Regular'
  font-style: normal
  font-weight: normal
  src: local('Oswald-Regular'), url('../fonts/Oswald-Regular.woff') format('woff')

@font-face
  font-family: 'Oswald-Medium'
  font-style: normal
  font-weight: normal
  src: local('Oswald-Medium'), url('../fonts/Oswald-medium.woff') format('woff')

@font-face
  font-family: 'Montserrat-Bold'
  font-style: normal
  font-weight: normal
  src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.woff') format('woff')

@font-face
  font-family: 'Montserrat-Medium'
  font-style: normal
  font-weight: normal
  src: local('Montserrat-Medium'), url('../fonts/Montserrat-Medium.woff') format('woff')

@font-face
  font-family: 'Montserrat-Regular'
  font-style: normal
  font-weight: normal
  src: local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff') format('woff')

@font-face
  font-family: 'Montserrat-Thin'
  font-style: normal
  font-weight: normal
  src: local('Montserrat-Thin'), url('../fonts/Montserrat-Thin.woff') format('woff')

