$color_orange: #e8603c
$color_white: #fff
$color_black: #616161
$color_dark_blue: #323a45
$color_light_blue: #b2c6cd
$color_gray: #f1f1f1
$transition: 0.5s

*
  box-sizing: border-box

body
  font-family: 'Oswald-Bold'

a
  text-decoration: none
  font-family: 'Oswald-Light'
  &:hover,
  &:focus
    text-decoration: none

p
  font-family: 'Montserrat-Regular'
  color: $color_dark_blue
  font-size: 14px
  line-height: 1.4

li
  list-style: none

img
  max-width: 100%

.title,
p
  margin: 0

.column
  flex-direction: column

.overflow
  overflow-y: hidden

.container
  margin: 0 auto
  width: 1170px
  max-width: 100%

.section
  padding: 150px 0 0 0
  position: relative
  &__title
    z-index: -1
    width: max-content
    max-width: 100%
    text-align: right
    top: 5px
    left: 10px
    position: absolute
    ul
      padding: 0
      margin: 0
    .title,
    a
      font-family: 'Oswald-Bold'
      margin: 0
      color: $color_gray
      font-size: 7vw
      font-weight: bold
      text-transform: uppercase
      position: relative

.btn_dark,
.btn_white
  display: inline-block
  line-height: 45px
  height: 45px
  width: 250px
  text-align: center
  font-size: 18px
  text-transform: uppercase
  transition: $transition
  position: relative
  &:before
    position: absolute
    content: ''
    opacity: 0
    left: 50%
    width: 0
    height: 100%
    transition: $transition
    z-index: -1

.btn_dark
  border: 1px solid $color_dark_blue
  color: $color_black
  &:before
    background-color: $color_dark_blue
  &:hover
    transition: $transition
    color: $color_white
    &:before
      width: 100%
      left: 0
      opacity: 1

.btn_white
  border: 1px solid $color_white
  color: $color_white
  &:before
    background-color: $color_white
  &:hover
    transition: $transition
    color: $color_dark_blue
    i
      color: $color_dark_blue
    &:before
      width: 100%
      left: 0
      opacity: 1

.btn_send
  font-family: 'Oswald-Light'!important
  display: flex!important
  justify-content: center
  align-items: center
  height: 45px!important
  width: 250px!important
  text-align: center
  font-size: 18px!important
  text-transform: uppercase!important
  transition: $transition!important
  position: relative!important
  line-height: 1
  margin: 0 auto!important
  background-color: $color_dark_blue!important
  border: 1px solid $color_dark_blue!important
  color: $color_white!important
  &:before
    position: absolute
    content: ''
    opacity: 0
    left: 50%
    width: 0
    height: 100%
    transition: $transition!important
    background-color: $color_dark_blue!important
    z-index: -1
  &:hover
    transition: $transition
    color: $color_dark_blue!important
    z-index: 2
    &:before
      width: 100% !important
      background-color: $color_white!important
      left: 0
      opacity: 1

.wpforms-form
  label
    text-align: left
  .wpforms-field-sublabel
    font-size: 10px!important
  input,
  textarea
    border-color: $color_dark_blue!important
    transition: $transition
    &:focus
      transition: $transition
      background-color: rgba(238, 238, 238, 0.73)!important